body {
  background-color: azure;
}


.heading {
  font-size: 30px;
  margin-left: 350px;
  margin-right: 200px;
  font-weight: 600;
}

#heading {
  margin-top: 100px;
  margin-bottom: 50px;
}

input {
  width: 500px;
  margin-left: 340px;
  padding: 7px 10px;
  border-radius: 20px;
}

.search {
  margin-left: 10px;
  padding: 8px 10px;
  border-top: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.book {
  font-size: large;
  padding: 6px 10px;
  cursor: pointer;
}

.images {
  display: flex;
  flex-direction: row;
}

.images-section {
  margin-top: 30px;
  display: flex;
  width: 600px;
  gap: 15px;
  margin-left: 340px;
  flex-wrap: wrap;
}

.main {
  margin: 10px 10px;
}

img:hover {
  transform: scale(1.2);
  cursor: pointer;
}